apiVersion: v2
name: ${APP_NAME}
description: ${APP_DESCRIPTION}
type: application
version: 0.1.0
appVersion: "${APP_VERSION}"
keywords:
  - ${LANGUAGE}
  - ${FRAMEWORK}
  - openshift
maintainers:
  - name: ${MAINTAINER_NAME}
    email: ${MAINTAINER_EMAIL}
